{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
  <h2>{{ book.title }}</h2>
  {% if book.cover %}
    <img src="{{ book.cover.url }}" class="img-fluid mb-3" alt="{{ book.title }}">
  {% endif %}
  <p class="lead">{{ book.description }}</p>
  <p><strong>Author:</strong> {{ book.author }}</p>
  <p><strong>Price:</strong> ${{ book.price }}</p>

  
  <form method="post" action="{% url 'cart_app:add_to_cart' book.id %}">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
</form>
</div>
{% endblock %}
